# Limpieza de datos profunda

Para reforzar el aprendizaje de la limpieza de datos utilizaremos varios conjuntos de datos y aplicaremos una bateria completa de mecanismos de data-cleaning.

Comenzaremos con dos conjuntos:
1. El conjunto __NLSY97__
2. El conjunto __COVID-19__ de ourworld in data

### 1. El conjunto NLSY97

El conjunto NLSY97 consiste en una muestra representativa de Estados Unidos de 8,984 hombres y mujeres nacidos durante los años 1980 a 1984, que vivían en los Estados Unidos en el momento de la encuesta en 1997. 
  
Los participantes tenían entre 12 y 16 años al 31 de diciembre de 1996.  Se llevaron a cabo entrevistas anualmente desde 1997 hasta 2011 y cada dos años desde entonces. La cohorte en curso ha sido encuestada 18 veces hasta la fecha. Los datos están disponibles desde la Ronda 1 (1997-98) hasta la Ronda 18 (2017-18).

El NLSY97 recopila una amplia información sobre el comportamiento del mercado laboral y las experiencias educativas de los encuestados. La encuesta también incluye datos sobre los antecedentes familiares y comunitarios de los jóvenes para ayudar a los investigadores a evaluar el impacto de la escolarización y otros factores ambientales en estos participantes en el mercado laboral. Los datos del NLSY97 también ayudan a determinar cómo las experiencias de los jóvenes se relacionan con el establecimiento de carreras, la participación en programas gubernamentales y la formación de familias. 
  
Finalmente, la información del NLSY97 permite a los investigadores comparar el progreso de esta cohorte con el de otras cohortes NLS (Ver Armonización de datos entre cohortes NLSY79 / 97).
  
  
  
  
  
Fuente:[U.S. BUREAU OF LABOR STATISTICS](https://www.bls.gov/nls/nlsy97.htm)


### 2.  Our World in Data COVID-19

Perfiles de países de coronavirus

Se crearon 207 perfiles de países que permiten explorar las estadísticas sobre la pandemia de coronavirus para todos los países del mundo.

En una pandemia de rápida evolución, no es una cuestión sencilla identificar los países que tienen más éxito en hacer progresos contra ella. Para una evaluación integral, se ha rastreado el impacto de la pandemia en una [publicación](https://ourworldindata.org/coronavirus#citation) y se crearon perfiles de países para 207 países para estudiar en profundidad las estadísticas sobre la pandemia de coronavirus en todos los países del mundo.

Cada perfil incluye visualizaciones interactivas, explicaciones de las métricas presentadas y los detalles sobre las fuentes de los datos.

El perfil de cada país se actualiza __a diario__.







Fuente: [Our World in Data](https://ourworldindata.org/coronavirus)

#### Cargamos las libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### llamar a los datos

In [2]:
covidtotales = pd.read_csv("data/covidnan.csv")

### Comenzamos con la exploración de los datos

In [3]:
covidtotales.head()

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
0,AFG,2020-06-01,Afghanistan,15205,257,390.589,6.602,38928341.0,54.422,18.6,1803.987,0.50
1,ALB,2020-06-01,Albania,1137,33,395.093,11.467,2877800.0,104.871,38.0,11803.431,2.89
2,DZA,2020-06-01,Algeria,9394,653,214.225,14.891,43851043.0,17.348,29.1,13913.839,1.90
3,AND,2020-06-01,Andorra,764,51,9888.048,660.066,77265.0,163.755,NaN,NaN,NaN
4,AGO,2020-06-01,Angola,86,4,2.617,0.122,32866268.0,23.890,16.8,5819.495,NaN

In [4]:
covidtotales.describe()

,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
count,2.100000e+02,210.000000,209.000000,209.000000,2.100000e+02,198.000000,186.000000,182.000000,164.000000
mean,2.921614e+04,1770.714286,1361.842909,55.925440,3.694276e+07,362.867434,30.627957,19539.154588,3.012671
std,1.363978e+05,8705.565857,2629.894101,145.081876,1.425092e+08,1581.438294,9.133152,19862.354091,2.464917
min,0.000000e+00,0.000000,0.894000,0.000000,8.090000e+02,0.137000,15.100000,661.240000,0.100000
25%,1.757500e+02,4.000000,96.785000,0.893000,1.031042e+06,37.416000,22.250000,4485.329000,1.300000
50%,1.242500e+03,25.500000,281.997000,6.214000,6.909866e+06,87.250000,30.250000,13183.081500,2.358500
75%,1.011700e+04,241.250000,1803.318000,32.158000,2.615868e+07,214.122000,39.000000,28556.527250,3.895750
max,1.790191e+06,104383.000000,19771.348000,1237.551000,1.439324e+09,19347.500000,48.200000,116935.600000,13.800000

In [5]:
covidtotales.dtypes

iso_code            object
lastdate            object
location            object
total_cases          int64
total_deaths         int64
total_cases_pm     float64
total_deaths_pm    float64
population         float64
pop_density        float64
median_age         float64
gdp_per_capita     float64
hosp_beds          float64
dtype: object

In [6]:
covidtotales.iso_code.describe()

count     210
unique    210
top       BEN
freq        1
Name: iso_code, dtype: object

In [7]:
covidtotales

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
0,AFG,2020-06-01,Afghanistan,15205,257,390.589,6.602,38928341.0,54.422,18.6,1803.987,0.50
1,ALB,2020-06-01,Albania,1137,33,395.093,11.467,2877800.0,104.871,38.0,11803.431,2.89
2,DZA,2020-06-01,Algeria,9394,653,214.225,14.891,43851043.0,17.348,29.1,13913.839,1.90
3,AND,2020-06-01,Andorra,764,51,9888.048,660.066,77265.0,163.755,NaN,NaN,NaN
4,AGO,2020-06-01,Angola,86,4,2.617,0.122,32866268.0,23.890,16.8,5819.495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205,VNM,2020-06-01,Vietnam,328,0,3.370,0.000,97338583.0,308.127,32.6,6171.884,2.60
206,ESH,2020-06-01,Western Sahara,23,1,38.505,1.674,597330.0,NaN,28.4,NaN,NaN
207,YEM,2020-06-01,Yemen,323,80,10.829,2.682,29825968.0,53.508,20.3,1479.147,0.70
208,ZMB,2020-06-01,Zambia,1057,7,57.496,0.381,18383956.0,22.995,17.7,3689.251,2.00
209,ZWE,2020-06-01,Zimbabwe,178,4,11.976,0.269,14862927.0,42.729,19.6,1899.775,1.70

In [8]:
covidtotales.set_index("iso_code", inplace=True)

In [9]:
covidtotales.head(10)

,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
iso_code,,,,,,,,,,,
AFG,2020-06-01,Afghanistan,15205,257,390.589,6.602,38928341.0,54.422,18.6,1803.987,0.50
ALB,2020-06-01,Albania,1137,33,395.093,11.467,2877800.0,104.871,38.0,11803.431,2.89
DZA,2020-06-01,Algeria,9394,653,214.225,14.891,43851043.0,17.348,29.1,13913.839,1.90
AND,2020-06-01,Andorra,764,51,9888.048,660.066,77265.0,163.755,NaN,NaN,NaN
AGO,2020-06-01,Angola,86,4,2.617,0.122,32866268.0,23.890,16.8,5819.495,NaN
AIA,2020-06-01,Anguilla,3,0,199.973,0.000,15002.0,NaN,NaN,NaN,NaN
ATG,2020-06-01,Antigua and Barbuda,25,3,255.290,30.635,97928.0,231.845,32.1,21490.943,3.80
ARG,2020-06-01,Argentina,16838,539,372.557,11.926,45195777.0,16.177,31.9,18933.907,5.00
ARM,2020-06-01,Armenia,9282,131,3132.388,44.208,2963234.0,102.931,35.7,8787.580,4.20
ABW,2020-06-01,Aruba,101,3,945.994,28.099,106766.0,584.800,41.2,35973.781,NaN

In [10]:
totales=['location','total_cases','total_deaths','total_cases_pm','total_deaths_pm']
demograficas=['population','pop_density','median_age','gdp_per_capita','hosp_beds']

Vamos a revisar por tipo de variables, demograficas y totales

In [11]:

covidtotales[totales].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     1
total_deaths_pm    1
dtype: int64

In [12]:

covidtotales[demograficas].isnull().sum(axis=0)

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [13]:


100*covidtotales[demograficas].isnull().sum(axis=0)['hosp_beds']/covidtotales.shape[0]

21.904761904761905

In [14]:
demograficas_counter_miss=covidtotales[demograficas].isnull() .sum(axis=1)
demograficas_counter_miss.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [15]:
covidtotales.loc[demograficas_counter_miss>=3, ['location'] + demograficas].T

iso_code,AND,AIA,BES,VGB,FRO,FLK,GIB,GRL,GGY,IMN,JEY,XKX,MSR,MNP,TWN,TCA,VAT,ESH
location,Andorra,Anguilla,Bonaire Sint Eustatius and Saba,British Virgin Islands,Faeroe Islands,Falkland Islands,Gibraltar,Greenland,Guernsey,Isle of Man,Jersey,Kosovo,Montserrat,Northern Mariana Islands,Taiwan,Turks and Caicos Islands,Vatican,Western Sahara
population,77265.0,15002.0,26221.0,30237.0,48865.0,3483.0,33691.0,56772.0,67052.0,85032.0,101073.0,1932774.0,4999.0,57557.0,23816775.0,38718.0,809.0,597330.0
pop_density,163.755,NaN,NaN,207.973,35.308,NaN,3457.1,0.137,NaN,147.872,NaN,NaN,NaN,119.878,NaN,37.312,NaN,NaN
median_age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.2,NaN,NaN,28.4
gdp_per_capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hosp_beds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN